
html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.hidden {
    display: none !important;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}


.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}


body {
    background-color: #da3c18;
    font-family: 'Open Sans', sans-serif;

}

#header {
    background-color: #333333;
    height: 30px;
    width: 100%;
    background-image: url("../img/office-logo.png");
    background-repeat: no-repeat;
    background-position: right 20px top;
}


nav ul{
    list-style: none;
    text-align: right;
    padding-right: 15px;
}

nav ul li {display:inline; margin:22px;}


nav li a{
    text-transform: uppercase;
    text-decoration: none;
    color:#ffffff;
    font-size: 16px;
    font-weight: 600;
}

.wrap {
    width: 1040px;
    margin: 0 auto;
}

.field-wrap {
    width: 200px;
}

#intro {
    color: #ffffff;
    display: table;
}

.beans-wrap {
    background-image: url("../img/beans.png");
    background-position: center 25px;
}

#intro div {
    display: table-cell;
    float: left;
}

.left-intro {
    width: 700px;
}

.right-intro {
    background-image: url("../img/coffe-cup.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 309px;
    height: 354px;
}

#intro p {
    font-size: 14px;
    font-weight: normal;
}

.custom-h1 {
    font-size: 38px;
    /*color: #ffffff;*/
    font-weight: normal;
}

form input {
    color: #008a2f;
    font-size: 14px;
    font-style: italic;
    padding-left: 10px;
    width: 153px;
    height: 25px;
    margin-bottom: 16px;
    margin-right: 20px;
}

input[type="submit"] {
    font-style: normal;
    text-transform: uppercase;
    background: #008a2f;
    color: #ffffff;
    width: 135px;
    height: 30px;
    border: 0 none;
}

#main {
    background-color: #ffffff;
    padding: 45px;
    display: table;
}

#main-content {
    display: table-cell;
    width: 635px;
    padding-right: 35px;
}

aside {
    display: table-cell;
    width: 290px;
}

.green-h1 {
    color: #008a2f;
    font-size: 40px;
    font-weight: 300;
}

#main section article p {
    color: #333333;
    font-size: 15px;
    font-weight: 300;
}


/*Acordion*/

button.accordion {
    background-color: transparent;
    color: #333333;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 18px;
    transition: 0.4s;
}

button.accordion {
    background-image: url("../img/green-arrow.png");
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 55px;
}

div.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: 0.6s ease-in-out;
    opacity: 0;

}

div.panel.show {
    opacity: 1;
    max-height: 500px;
}
#accordion section {
    border-bottom: 1px solid #e6e6e6;
}


.product {
    background-image: url("../img/product.png");
    width: 305px;
    height: 413px;
    background-repeat: no-repeat;
}

.product a {
    position: relative;
    top: 88%;
    text-transform: uppercase;
    color: #ffffff;
    width: 100%;
    display: block;
    text-align: center;
    text-decoration: none;
}

.product a span {
    background-color: #dc3c00;
    padding: 10px;
}

aside article a {
    color: #008a2f;
    font-size: 15px;
    text-align: center;
    width: 100%;
    display: block;
}

aside article h2 {
    color: #da3c18;
    font-size: 24px;
    font-weight: 300;
    text-align: center;
}

footer {
    background-color: #333333;
    height: 60px;
    width: 1040px;
    margin: 0 auto;
}

footer small {
    color: #ffffff;
    font-size: 12px;
    font-weight: 300;
    top: 25px;
    position: relative;
}